body{
    background-color: rgb(202, 214, 226);
    padding: 0px;
    font-size: 14px;
    color: rgb(50, 50, 50);
}

nav{
    height: 40px;
}

footer {
    text-align: center;
    font-size: 80%;
}

h2{
    margin: 0;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

